body {
    text-align: center;
    color: rgb(126, 35, 245);
}

* {
    background-color: rgb(195, 214, 250);
    margin-right: 20px;
    margin-left: 20px;
}

img {
    width: 500px;
    height: 500px;
    border-radius: 10px;
}

nav {
    background-color: rgb(195, 214, 250);
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: rgb(126, 35, 245);
    font-size: 1.5em;
}

nav a:hover {
    color: red;
    text-decoration: none;
}